# Ignorar todo
*

# Permitir recorrer directorios
!*/

# Archivos de configuración
!.gitignore
!README.md
!requirements.txt
!Dockerfile
!docker-compose.yml

# Código fuente
!scripts/
!scripts/**

# Carpeta data
!data/

# Ignorar todo su contenido...
data/*

# ...excepto el CSV revisado
!data/entity_merge_candidates_revisado.csv